<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenlx.xinwen.shardingsphere.month.mapper.OrderMapper">
    <select id="queryMaxCode" resultType="Long">
        SELECT count(*) FROM tbl_order_info
    </select>
    <select id="queryMaxId" resultType="Long" parameterType="java.time.LocalDateTime">
        SELECT order_id FROM tbl_order_info where create_time &lt;  #{now} order by create_time desc limit 1
    </select>
    <insert id="insert" parameterType="com.shenlx.xinwen.shardingsphere.month.entity.Order">
        insert into  tbl_order_info(order_id,order_type,order_name,status,create_time)
        values (#{orderId},#{orderType},#{orderName},#{status},#{createTime})

--             insert into  tbl_order_info(order_type,order_name,status,create_time)
--         values (#{orderType},#{orderName},#{status},#{createTime})
    </insert>
    <select id="listPage" parameterType="int" resultType="com.shenlx.xinwen.shardingsphere.month.entity.Order">
        select `order_id` as orderId,`order_type` as orderType, `order_name` as orderName,`status` as status from tbl_order_info
        where 1=1
        <if test="type!=null">
               and order_type=#{type}
        </if>
        <if test="startTime!=null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
           and  create_time &lt;= #{endTime}
        </if>
        order by create_time
            limit #{offset},#{pageSize}
    </select>
</mapper>