<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwen.postgresql.core.mapper.TheftRobberyMapper">

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from view_bdddc_aj
    </select>

    <select id="query" parameterType="java.lang.String" resultType="com.xinwen.postgresql.core.entity.TheftRobbery" >
        select MD_MD AS mdId,WPGG AS wpgg , WPZT as wpzt from view_bdddc_aj where WPGG=#{wpgg}
    </select>
</mapper>