<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenlx.xinwen.shardingsphere.month.mapper.OrderMapper">
    <select id="queryMaxCode" resultType="Long">
        SELECT count(*) FROM tbl_order_info
    </select>
    <insert id="insert" parameterType="com.shenlx.xinwen.shardingsphere.month.entity.Order">
        insert into  tbl_order_info(order_id,order_type,order_name,status,create_time)
        values (#{orderId},#{orderType},#{orderName},#{status},#{createTime})
    </insert>
    <select id="listPage" parameterType="int" resultType="com.shenlx.xinwen.shardingsphere.month.entity.Order">
        select `order_id` as orderId,`order_type` as orderType, `order_name` as orderName,`status` as status from tbl_order_info
        where order_type=#{type}
        order by order_id
            limit #{offset},#{pageSize}
    </select>
</mapper>