<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenlx.xinwen.shardingsphere.cutom.key.generator.mapper.OrderMapper">
    <select id="queryMaxCode" resultType="Long">
        SELECT count(*) FROM tbl_order_info
    </select>
    <insert id="insert" parameterType="com.shenlx.xinwen.shardingsphere.cutom.key.generator.entity.Order">
        insert into  tbl_order_info(order_id,order_type,order_name,status)
        values (#{orderId},#{orderType},#{orderName},#{status})
    </insert>
    <insert id="listPage" parameterType="int">
        select order_id,order_type order_name,status tbl_order_info
        limit #{offset},#{pageSize}
    </insert>
</mapper>